.HeroSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* width: 100%; */
    height: 520px;
    /* border: 2px solid red; */
    gap: 20px;
}
.HContainer{
    background-image: url(../../Assets/Mesh.png);
    display: flex;
    top: 4%;
    position: relative;
    left: 25.3%;
    width: 635px;
    height: 465px;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* border: 2px solid rgb(21, 255, 0); */
}

.h4text{
    color: var(--Pri-Purple-400, #582066);
    text-align: center;
    /* H50/16/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.h1text{
    /* width: 828px; */
    align-self: stretch;
    color: var(--Neutral-50, #121417);
    text-align: center;
    font-family: Manrope;
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 116.129% */
}
.ptext{
    width: 628px;
    color: var(--Neutral-400, #5A6475);
    text-align: center;
    /* Para/Medium/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.Mainbtn{
    position: relative;
    top: 4%;
    color: #FFFFFF;
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Pri-Purple-400, #582066);
}
.lasttext{
    position: relative;
    top: 1%;
    /* bottom: 3.5%; */
    right: 0.7%;
    color: var(--Neutral-400, #5A6475);
    text-align: center;
    /* H25/14/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

@media only screen and (min-width:500px) and (max-width:820px) {
    .HeroSection{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .HContainer{
        position: relative;
        left: 0%;
    }
    .h1text{
        font-size: 72px;
    }
}

@media only screen and (min-width: 350px) and (max-width:450px){
    .HeroSection{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: start;
        width: 100%;
        height: 100%;
    }
    .HContainer{
        width: 84%;
        height: 100%;
        position: relative;
        left: 0;
    }
    .h4text{
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        top:2%
        /* width: 343px; */
        /* width: 100%; */
    }
    .h1text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        font-size: 52px;
        position: relative;
        right: 5%;
        /* gap: 0; */
    }
    .ptext{
        width: 382px;
        font-size: 23px;
    }
}